
.done{
    background-color: #89a5d4 !important;
    color:#000000 !important;
}

.defaultButton{
    /* color:#000000 !important; */
}

.active{
    background-color: #cccccc !important;
    color:#000000 !important;
}