#flightTab{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    height: 9vh;
}

  
#papertab{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
}

#tab{
    text-align: center;
    padding-top: 0.7em;
}

#diffFlighttext{
    text-decoration: underline;
    margin-right: 9.5em;
    direction: ltr;
}
#flightCard{
    direction: ltr;
}
#chosendiv{
    direction: rtl;
}
#noFlights{
    margin-top: 3.5em;
    margin-bottom: 2em;
    text-align: center;
}
