@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
#signupBody * {
  font-family: "Montserrat", sans-serif !important;
  color: black;
  border-color: black;
}

#createAccount {
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 1.7em;
}
