#center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

html,
body {
  height: 100%;
}

body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#search {
  background: rgb(255 255 255 / 60%);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 80%);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 15px;
  border: 1px rgba(255, 255, 255, 0.18);
  padding: 24px 20px;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,600;1,900&display=swap");

#title {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

#alignTitle {
  position: relative;
  right: 350px;
  top: 80px;
}

.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
