/* .search{
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.search1{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 2rem;
  
}

.search2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-left: 7.5rem;
}

.search3{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 7.7rem;
}

.MuiDialog-paperFullWidth	{
  width:50rem !important;
  border-radius: 15px !important;
}



Button {
  border-radius: 10px!important;
  height: fit-content;
}



#filter{
display: flex;
justify-content: center;
}

.MuiFormControl-root.MuiTextField-root.flightNumber.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  position: relative;
  right: 5rem;
}

#seats{
 width: fit-content;
  width: 400px;
} */

/* 
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 22.5px 100px !important;

}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
  padding: 28.5px;

}

 .css-12xvzhw-MuiAutocomplete-root {
  padding: 27.5px 4px 7.5px 6px;
} */

/* .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root{
  padding-bottom: 20px;
} */

/* .css-12xvzhw-MuiAutocomplete-root .MuiAutocomplete-input {
  padding: 29.5px 4px 7.5px 6px;
} */

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
width:400px;
}

.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root{
  margin-right: -7px;
} 

/* #text1{
  padding-bottom: 20px !important;
} */

.MuiFormControl-root.MuiTextField-root.flightNumber.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  position: relative;
  right: 5rem;
}