#cont{
    background-color: white;
}
#flightText{
    margin-left: 4.5em;
    margin-top: 1em;
    color:#076F72
}
#passengersForm{
    margin-left: 9em;
}
#submitButton{
    margin-top: 2em;
    margin-left: 4em;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected{
    color:#076F72 !important;
}

.css-1aquho2-MuiTabs-indicator{
    background-color:#076F72 !important;
}

@media only screen and (max-width: 600px) {
#flightText{
    margin-left: 4.5em;
    margin-top: 1em;
    color:#076F72;
    font-size: medium;
    position: relative;
    right: 1.5rem;
}
}